* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body {
    background: rgb(0, 0, 0);
}

section {
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    text-align: justify;
}

section h2 {
    color: #666;
    font-size: 4em;
    margin-bottom: 20px;
}

section p {
    color: #666;
    font-size: 1.2em;
}

/**** 1 ****/

/* ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,#30ff00);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent,#7794e4);
} */



/**** 2 Neumorphism ScrollBar Design ****/

/* body {
    height: 2500px;
    background: #e6e6e6;
}
::-webkit-scrollbar {
    width: 33px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
    box-shadow: 5px 5px 10px #ccc inset, -5px -5px 10px #fff inset;
}

::-webkit-scrollbar-thumb {
    border-radius:50px;
    box-shadow: -5px -5px 5px #ccc inset, 5px 5px 5px #f2f2f2 inset;
    background: #e6e6e6;
} */


/**** 3 Neumorphism ScrollBar Design - Black Background ****/

/* body {
    height: 2500px;
    background: #262626;
}
::-webkit-scrollbar {
    width: 33px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
    box-shadow: 5px 5px 10px #0d0d0d inset, -5px -5px 10px #4d4d4d inset;
}

::-webkit-scrollbar-thumb {
    border-radius:50px;
    box-shadow: -5px -5px 5px #0d0d0d inset, 5px 5px 5px #4d4d4d inset;
    background: #262626;
} */



/**** 4 ****/
::-webkit-scrollbar {
    width: 2em;
}

::-webkit-scrollbar-track {
    background: greenyellow;
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 100vw;
    border: 0.25em solid greenyellow;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}